div.main-content 
{ 
    margin: 3%;
    width: 80%;
    margin-left:auto; 
    margin-right: auto; 
    height:100%;
    min-height:600px;
    background-color: #FFFFFF;
    # border-radius: 8px;
    # -moz-border-radius: 8px;
}

div.content 
{ 
    display:table; #1
    height:100%;
}
div.contentleft
{ 
    display:table-cell; vertical-align:middle; #1
    # float:left;
    width: 30%;
    #background-color: #900;
}
div.insideleft
{ 
    padding: 30px;
    
    # border: 1px solid red;
    # background-color: #900;
    # background-color: #990;
}
div.contentright
{ 
    float:right;
    display:table-cell; horizontal-align:right #1

    width:70%;
    # background-color: #090;
}

html,body
{
    background-color: #000;
    margin:0;
    padding:0;
}

h2{
    margin: 0;
}
img {
    float:right;
    max-width: 100%;
}