/* main, really */

div.meta-content 
{ 
    position: float;
    margin-left:auto; 
    margin-right: auto; 
    
    max-width: 857px;
}
div.main-content 
{ 
    padding: 10px;
    
    margin-left:auto; 
    margin-right: auto; 
    
    background-color: #000;
}

div.content 
{ 
    display:table;
    
    background-color: #fff;
}
div.contentleft
{ 
    display:table-cell; vertical-align:middle;
    width: 30%;
    
    background-color: #fff;
}
div.insideleft
{ 
    padding: 30px;
    
    # border: 1px solid red;
    # background-color: #900;
    # background-color: #990;
}
div.contentright
{ 
    display:table-cell;
    background-color: #fff;
}
div.insideright
{ 
    padding: 30px 30px 30px 0px;
    min-height: 400px;
    # background-color: #990;
}

html,body
{
    background-color: #000;
    margin:0;
    padding:0;
    
    #fnt-family: "Tahoma", Times, serif;
}

h2{
    margin: 0;
    #font:bold 18pt Georgia , serif;
}
h3{
    margin: 0;
    #font: 14pt Warnock , serif;
}

img {
    max-width:100%;
    height:auto;
}