/* main, really */

div.meta-content 
{ 
    position: float;
    margin-left:auto; 
    margin-right: auto; 
    
    max-width: 857px;
}

div.main-content 
{ 
    padding: 20px 10px 10px 10px;
    
    margin-left:auto; 
    margin-right: auto; 
    
    background-color: #fff;
}

div.content 
{ 
    display:table;
    
    background-color: #fff;
}
div.contentleft
{ 
    display:table-cell; vertical-align:middle;
    width: 30%;
    
    background-color: #fff;
}
div.insideleft
{ 
    #padding: 30px 0 0 0;
    
    #border: 1px solid red;
}
div.contentright
{ 
    display:table-cell;
    background-color: #fff;
}
div.insideright
{ 
    padding: 30px 30px 30px 0px;
    min-height: 526px;
    # background-color: #990;
}

html,body
{
    background-color: #fff;
    margin:0;
    padding: 0;
    
    #fnt-family: "Tahoma", Times, serif;
    #font-family: "Monaco", Consolas, serif;
    font-family: Impact, Charcoal, sans-serif;
    font-family: Verdana, Geneva, sans-serif;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    margin: 0;
}
h2{
    margin: 0;
}
h3{
    margin: 0;
}
p {
    margin: 0 0 16px 0;
}

img.normalimage {
    position: relative;
    #max-width:80%;
}

img {
    max-width:100%;
    height:auto;
    position: absolute;
    #top: 0;
    #left: 0;
    width: 100%;
    padding: 0; display: block;
}