
/* root element for tabs  */
ul.css-tabs {
    margin:0 !important;
    padding: 20px 0 0 0;
    
    height:32px;
    
    background-color: white;
    text-align: center; /* some nasty hack to center the content */
}

/* container */
div.flcenter {
    display: inline-block; /* some nasty hack to center the tabs. works with text-align: center; for css-tabs!*/
    background-color: #fff;
}

/* single tab */
ul.css-tabs li {
    float:left;
    padding:0;
    margin: 0 4px 0 4px;
    list-style-type:none;
    
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}

/* link inside the tab. uses a background image */
ul.css-tabs a {
    height:18px;
    padding:5px 10px;
    background-color:#eee;

    color:#666;
    text-decoration:none;
    
    border-radius: 8px;
    -moz-border-radius:8px 8px 0 0;

    /* ??? */
    #float:left;
    
    #font-size:13px;
    #display:block;
    #outline:0;
    #border:1px solid #666;
    #border-bottom:0px;
    #margin-right:2px;
    #position:relative;
    #top:1px;
    
    box-shadow: 4px 4px 5px #aaa;
}

/* selected tab */
ul.css-tabs a.current {
    background-color:#eee;
    border-bottom:1px solid #eee;
    color:#000;
    cursor:default;
}


/* tab pane */
.css-panes div {
    border-width:0 1px 1px 1px;
    background-color: white;
}


